<!-- <div class="container"> -->
  <h3>Grupirani podatki za merilno mesto</h3>

  <div class="form-group d-flex align-items-center gap-2">
    <label for="groupingSelect" class="mb-0">Izberi skupino:</label>
    <select id="groupingSelect" class="form-control w-auto" style="min-width: 160px; max-width: 320px;" [(ngModel)]="selectedGrouping" (ngModelChange)="onGroupingChange()">
      <option *ngFor="let option of groupingOptions" [value]="option.value">{{ option.label }}</option>
    </select>
  </div>

  <app-echart-graf [selectedMerilnoMestoGraf]="selectedMerilnoMestoGraf"></app-echart-graf>
<!-- </div> -->
