<h2>Moj elektro merilna mesta</h2>
<div class="row">
    <table class="table table-hover mt-3" style="cursor: pointer;">
        <thead>
            <tr>
                <th style="width: 20%;">Stavba</th>
                <th style="width: 10%;">Enotni Identifikator</th>
                <th style="width: 10%;">GsrnMM</th>
                <th style="width: 20%;">Naziv</th>
                <th style="width: 20%;">Dobavitelj</th>
                <th style="width: 10%;">RTP</th>
            </tr>
        </thead>
        <tbody>
            @for (merMesto of mojElektroMerilnaMesta; track $index) {
            <tr routerLink="/moj-elektro/{{merMesto.enotniIdentifikator}}">
                <td>
                    <img src="{{ merMesto.photoUrl}}" alt="{{merMesto.sifraJavnegaObjekta}}" class="img-moj-ele" />
                    {{merMesto.nazivJavnegaObjekta}}
                </td>
                <td>{{merMesto.enotniIdentifikator}}</td>
                <td>{{merMesto.gsrnMM}}</td>
                <td>{{merMesto.naziv}}</td>
                <td>{{merMesto.dobavitelj}}</td>
                <td>{{merMesto.rtp}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>