@if (mojElektroMerilnoMesto) {
<div class="row">
    <table class="table mt-3" style="cursor: pointer;">
        <thead>
            <tr>
                <th style="width: 20%;">Stavba</th>
                <th style="width: 10%;">Enotni Identifikator</th>
                <th style="width: 10%;">GsrnMM</th>
                <th style="width: 20%;">Naziv</th>
                <th style="width: 20%;">Dobavitelj</th>
                <th style="width: 10%;">RTP</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="{{ mojElektroMerilnoMesto.photoUrl}}" alt="{{mojElektroMerilnoMesto.sifraJavnegaObjekta}}"
                        class="img-moj-ele" />
                    {{mojElektroMerilnoMesto.nazivJavnegaObjekta}}
                </td>
                <td>{{mojElektroMerilnoMesto.enotniIdentifikator}}</td>
                <td>{{mojElektroMerilnoMesto.gsrnMM}}</td>
                <td>{{mojElektroMerilnoMesto.naziv}}</td>
                <td>{{mojElektroMerilnoMesto.dobavitelj}}</td>
                <td>{{mojElektroMerilnoMesto.rtp}}</td>
            </tr>
        </tbody>
    </table>
</div>


<tabset class="member-tabset">
    <tab heading="Primerjalno po mesecih" [active]="true" (selectTab)="onTabSelect(0)">
        @if(mojElektroService.activeTabSignal().valueOf() === 0)
        {
        <app-egraf-dnevni></app-egraf-dnevni>
        }
    </tab>
    <tab heading="Primerjalno po tednih" (selectTab)="onTabSelect(1)">
        @if(mojElektroService.activeTabSignal().valueOf() === 1)
        {
        <app-egraf-po-tednih></app-egraf-po-tednih>
        }
    </tab>
    <tab heading="Primerjalno po urah" (selectTab)="onTabSelect(2)">
        @if(mojElektroService.activeTabSignal().valueOf() === 2)
        {
        <app-egraf-po-urah></app-egraf-po-urah>
        }
    </tab>
    <tab heading="Po blokih" (selectTab)="onTabSelect(3)">
        @if(mojElektroService.activeTabSignal().valueOf() === 3)
        {
        <app-egraf-po-blokih></app-egraf-po-blokih>
        }
    </tab>


    <tab heading="15min podatki" (selectTab)="onTabSelect(4)">
        @if(mojElektroService.activeTabSignal().valueOf() === 4)
        {
        <app-egraf-vsi-podatki></app-egraf-vsi-podatki>
        }
    </tab>
    <tab heading="15min podatki grupirani" (selectTab)="onTabSelect(5)">
        @if(mojElektroService.activeTabSignal().valueOf() === 5)
        {
        <app-egraf-vsi-podatki-grupirani></app-egraf-vsi-podatki-grupirani>
        }
    </tab>
    <tab heading="Primerjava z drugim merilnim mestom" (selectTab)="onTabSelect(6)">
        <!-- Add your map component here -->
    </tab>

    <tab heading="Dostop do zunanje aplikacije Moj-elektro" (selectTab)="onTabSelect(7)">
        <h4>Dostop do zunanje app Moj-elektro za merilno mesto {{mojElektroMerilnoMesto.enotniIdentifikator}}</h4>
        <app-moj-elektro-read15></app-moj-elektro-read15>
    </tab>



</tabset>


}