<h4>
    Dnevne količine za merilno mesto: {{mojElektroService.mojElektroSignal()?.enotniIdentifikator}} {{mojElektroService.mojElektroSignal()?.nazivJavnegaObjekta}}
</h4>
<div class="col-xs-12 col-12 col-md-4 form-group mb-3">
    <input type="text" class="form-control" placeholder="{{selectedRange.value[0]}}  -- {{selectedRange.value[1]}}"
        bsDaterangepicker (bsValueChange)="onValueChange($event)"
        [bsConfig]="{ ranges: ranges , dateInputFormat: 'dd/MM/yyyy'}" [(ngModel)]="selectedRange">
</div>
